<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

name<input type="text" name="name"><br>
description<input type="text" name="description"><br>
name<input type="text" name="name"><br>
<!-- @Id
    @Column(name = "pizza_name")
    private String name;
    private String description;

    @ManyToMany
    private List<Ingredient> ingredients;
    private Boolean veggie;

    @Override
    public String toString() {
        return name + "  " + description;
    }-->
</body>
</html>
